{% load static wagtailcore_tags menus_tags wagtailsettings_tags i18n wagtailuserbar %}
{% get_menu "topmenu" as navigation %}
{% get_menu "topmenuuk" as navigationuk %}
{% get_settings %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <link rel="icon" href="{% static '//favicon.ico' %}" type="image/x-icon">

        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" >
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" >

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="preconnect" href="https://fonts.gstatic.com" >
        <link rel="preconnect" href="https://fonts.googleapis.com" >
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
        <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Unbounded:wght@200..900&display=swap"
          rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block extra_css %}
        {% endblock extra_css %}
        {% block extra_style %}
        {% endblock extra_style %}
    </head>
    <body class="grid-page {% block body_class %}{% endblock %}">
{# -----------\/- HEADER -\/----------- #}
<header>
      <div class="content-wrapper margin-centered flex-row-between">
        <a href="/{{ LANGUAGE_CODE }}">
            <div class="logo-header">
              <img src="{% static 'img/logo.svg' %}" alt="" >
            </div>
        </a>
          <div class="menu-lang">
              {% get_current_language as current_language_code %}
              {% if current_language_code == 'en' %}
                  <span class="nav-active">
                      {{ current_language_code|upper }}</span>
              /
                {% for translation in page.get_translations.live %}
                  {% if translation.locale.language_code != current_language_code %}
                    <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ translation.locale.language_code }}"
                       class="nav-item nav-link {% if translation.locale.language_code == LANGUAGE_CODE %}active_nav{% endif %}">
                        {{ translation.locale.language_code|upper }}
                    </a>
                  {% endif %}
                {% endfor %}
              {% else %}
                {% for translation in page.get_translations.live %}
                  {% if translation.locale.language_code != current_language_code %}
                    <a href="{% pageurl translation %}" rel="alternate" hreflang="{{ translation.locale.language_code }}"
                       class="nav-item nav-link {% if translation.locale.language_code == LANGUAGE_CODE %}active_nav{% endif %}">
                        {{ translation.locale.language_code|upper }}
                    </a>
                  {% endif %}
                {% endfor %}
               /
              <span class="nav-active">{{ current_language_code|upper }}</span>
              {% endif %}
            </div>
        <nav>

            {% if LANGUAGE_CODE == 'en'%}
                {% for item in navigation.menu_items.all %}
                <a href="{{ item.link }}" data-goto="{{item.goto_tag}}"
                   class="menu__link {% if item.link == request.path %}active_nav{% endif %}">
                    {{ item.title }}
                </a>
            {% endfor %}
            {% else %}
                {% for item in navigationuk.menu_items.all %}
                <a href="{{ item.link }}" data-goto="{{item.goto_tag}}"
                   class="menu__link {% if item.link == request.path %}active_nav{% endif %}">
                    {{ item.title }}
                </a>
            {% endfor %}
            {% endif %}
        </nav>
      </div>
    </header>
{# -----------\/- MAIN CONTENT -\/----------- #}
    {% block content %}    {% endblock content %}
{# -----------\/- FOOTER -\/----------- #}
<footer>
      <div class="content-wrapper margin-centered">
        <div class="footer">
          <div class="footer-logo">
            <img src="{% static 'img/logo.svg' %}" alt="" >
          </div>
          <div class="footer-data flex-row-between">
            <div class="footer-copy">
              &copy; {% now 'Y' %} Studio Animagrad <br>
              {% if settings.home.ContactDataSettings.get_contact_data.email  %}
              <a href="mailto:{{settings.home.ContactDataSettings.get_contact_data.email}}">
                {{settings.home.ContactDataSettings.get_contact_data.email}}
              </a>
              {% endif %}
               |
                {% if settings.home.ContactDataSettings.get_contact_data.post_addr  %}
              {{settings.home.ContactDataSettings.get_contact_data.post_addr}}
              {% endif %}
              {% if settings.home.ContactDataSettings.get_contact_data.post_addr2  %}
              , {{settings.home.ContactDataSettings.get_contact_data.post_addr2}}
              {% endif %}
            </div>
            <div class="footer-socials">
                 {% for link in settings.home.SocialMediaSettings.social_media_links.all %}
                {% if link %}
                <a href="{{ link.url }}" target="_blank" >
                    <div class="social-icon">
                        {{ link.get_svg_code|safe }}
                    </div>
                </a>
                {% endif %}
                {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </footer>
</main>
{# ------------ EXTRA CODE ------------ #}
    {% block extra_js %}
    {% endblock extra_js %}
    </body>
</html>