/* Desktop (1224px and up) */
.section {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}
.section__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 64px;
    line-height: 1.3;
  }
}
.section__title--centered {
  text-align: center;
}
.projects-section {
  overflow: hidden;
  padding-bottom: 50px;
}
.projects-section__list {
  margin-bottom: 5px;
}
.projects-section__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .projects-section__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* TABLET (1024px and below) */
@media (max-width: 1024px) {}

/* MOBILE (768px and below) */
@media (max-width: 768px) {}

/* SMALL MOBILE (480px and below) */
@media (max-width: 480px) {}