{% extends "base.html" %}
{% load static  wagtailimages_tags wagtailcore_tags i18n%}

{% block body_class %}{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
{# Pagination block #}
{% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ news.title }}<br>
    {{ news.date }}<br>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}