{% extends "base.html" %}
{% load static  wagtailimages_tags wagtailcore_tags i18n%}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/projects-slider.css' %}">
{% endblock extra_css %}
        {% block extra_style %}
        {% endblock extra_style %}

{% block content %}
    <main class="main-projects margin-centered">
      <section class="section margin-centered">
        <div class="block-for-title">
          <div class="title-block margin-centered">
            <span class="title-text">{{page.title}}</span>
          </div>
        </div>
      </section>

        <div class="slider_container">
          <!-- swiper -->
          <div class="container-section__slider">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <!-- slides -->
                {% for slider_item in projects.all %}

                {% image slider_item.slider_image original as slider_img %}
                <div
                  class="swiper-slide"
                  style="background-image: url('{{slider_img.url}}')"
                >
                  <article class="news-card">
                    <a href="{% pageurl slider_item %}">
                      <h3 class="news-card__title" lang="en">{{slider_item.title}}</h3>
                    </a>
                    <div class="news-card__text">{{slider_item.format}}</div>
                  </article>
                </div>
                {% endfor %}

              </div>
            </div>
            <!-- navigation -->
            <div class="swiper-button-prev hero-arrow-box"><span>◁</span></div>
            <div class="swiper-button-next hero-arrow-box"><span>▷</span></div>
          </div>
        </div>


{% endblock content %}
        {% block extra_js %}
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script>
          const swiper = new Swiper(".swiper-container", {
            loop: false, // Циклічний скролінг = true
            slidesPerView: 2, // Кількість слайдів для показу
            spaceBetween: 20, // Відстань між слайдами
            navigation: {
              nextEl: ".swiper-button-next",
              prevEl: ".swiper-button-prev",
            },
            breakpoints: {
              // Правила для різних розмірів вікон
              320: {
                slidesPerView: 1,
              },
              768: {
                slidesPerView: 2,
              },
              1024: {
                slidesPerView: 2,
              },
            },
          });
        </script>
        {% endblock extra_js %}
