{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags i18n%}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<!-- Swiper CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
    <link rel="stylesheet" href="{% static 'css/stuff-slider.css' %}" />


{% endblock extra_css %}
<style>
  .swiper-container {
	width: auto;
}
</style>
{% block extra_style %}
<style>
.intro-block {
  background: url("/static/images/intro-bg.png") lightgray 50% / cover no-repeat;
}
.block3 {
  background: url("/static/images/image3-11.png") lightgray 50% / cover no-repeat;
}
.trusted-block {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/static/images/trusted-by.png") lightgray 50% / cover no-repeat;
}

.stuff-card {
    flex: 0 0 25%; /* Ensures that each card takes exactly 25% of the slide */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 5px;
    text-align: center;
}
a:visited {
  color: var(--White);
}
</style>
{% endblock extra_style %}

{% block content %}
    <main class="main-about margin-centered">
      <section class="section margin-centered">
        <div class="block-for-title">
          <div class="title-block margin-centered">
            <span class="title-text">About us</span>
          </div>
        </div>
        <div class="about-text-content margin-centered">
          <p>
            Animagrad studio was founded in 2012 as a part of FILM.UA Group and
            has become one of the leading animation studios in Eastern Europe.
            Our portfolio lists a number of successful products in 2D and 3D.
          </p>
          <p>
            Animagrad’s mission is about bringing Ukrainian animation into a new
            age of excellence. Our professional team of highly trained experts
            in 2D and 3D animation, creative department and skilled managers
            successfully implements original projects and supplies highly
            qualified services for accomplishing various tasks in animation
            production.
          </p>
          <p>
            We aspire towards the highest international standards of both
            creative and technical work.
          </p>
          <p>
            Currently Animagrad produces and develops several animated features
            and series intended for the international market.
          </p>
        </div>
      </section>

      <section class="section margin-centered">
        <div class="block-for-title">
          <div class="title-block margin-centered">
            <span class="title-text">News</span>
          </div>
        </div>

        <div class="slider_container">
          <!-- swiper -->
          <div class="container-section__slider about-news-carousel margin-centered">
            <div class="swiper-container news-slider">
              <div class="swiper-wrapper">
                <!-- slides there -->
                {% for slider_item in all_news %}
                <div class="swiper-slide news-card-about">
                  <div class="news-image-box ">
                    {% image slider_item.slider_image original as slider_img %}
                              <img src="{{slider_img.url}}"/>
                  </div>
                  <div class="news-about-title">
                    <a href="{% pageurl slider_item %}">
                            {{slider_item.title}}
                    </a>
                  </div>
                  <div class="news-about-date">{{slider_item.news_date|date}}</div>
                </div>

                {% endfor %}

              </div>
            </div>

          </div>
        </div>

        <div
          class="all-news-button hero-button-shadow block-shadow hero-button margin-centered"
        >
          <span class="hero-button-title">All news</span>
        </div>
      </section>

      <section class="painted-block our-team">
        <div class="title-block margin-centered">
          <span class="title-text">Our team</span>
        </div>
        <div class="team-slider-block">

          <div class="slider_container news-slider-container">
          <!-- swiper team -->
          <div class="container-section__slider container-team__slider">

            <div class="fly-left"><span>
              <img src="/static/img/crow-left.png" alt="" /></span>
            </div>

            <div class="swiper-container stuff-slider">

              <div class="swiper-wrapper">
                <!-- slides team -->
                {% for team in grouped_team_members %}
                <div class="swiper-slide stuff-slide">
                  {% for slider_item in team %}
                {% image slider_item.our_team.big_picture fill-325x325 as slider_img %}
                  <article class="stuff-card">
                    <img src="{{slider_img.url}}" alt="{{slider_item.position}}" />
                    <h3 class="stuff-position" lang="en">{{slider_item.our_team.position}}</h3>
                    <div class="stuff-name">{{slider_item.our_team.name}}</div>
                    <div class="stuff-name">{{slider_item.our_team.last_name}}</div>
                  </article>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>

            </div>

            <div class="fly-right "><span>
              <img src="/static/img/crow-right.png" alt="" />
            </span></div>

          </div>
        </div>

        </div>
        <div
          class="all-news-button hero-button-shadow block-shadow hero-button margin-centered"
        >
          <span class="hero-button-title">Get in touch</span>
        </div>
      </section>


{% endblock content %}

      {% block extra_js %}
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script> <!-- news -->
          const swiper_news = new Swiper(".news-slider", {
            loop: false, // Циклічний скролінг = true
            slidesPerView: 3, // Кількість слайдів для показу
            spaceBetween: 20, // Відстань між слайдами
            navigation: {
              nextEl: ".go-next",
              prevEl: ".go-prev",
            },
            breakpoints: {
              // Правила для різних розмірів вікон
              320: {
                slidesPerView: 1,
              },
              768: {
                slidesPerView: 2,
              },
              1024: {
                slidesPerView: 3,
              },
            },
          });
        </script>

        <script> <!-- stuff -->
          const swiper = new Swiper(".stuff-slider", {
            loop: false, // Циклічний скролінг = true
            slidesPerView: 4, // Кількість слайдів для показу
            spaceBetween: 20, // Відстань між слайдами
            navigation: {
              nextEl: ".fly-right",
              prevEl: ".fly-left",
            },
            breakpoints: {
              // Правила для різних розмірів вікон
              320: {
                slidesPerView: 1,
              },
              1224: {
                slidesPerView: 2,
              },
              1521: {
                slidesPerView: 3,
              },
              1855: {
                slidesPerView: 4,
              },
            },
          });
        </script>
        {% endblock extra_js %}