{% extends "base.html" %}
{% load static  wagtailimages_tags i18n%}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/career.css' %}" />
{% endblock extra_css %}

{% block extra_style %}
<style>
    .painted-block {
        height:600px;
    }
      .painting-image {
        background-image: url("/static/images/production-painting.png");
      }
    </style>
{% endblock extra_style %}

{% block content %}
    <main class="main-about margin-centered">
      <section class="section margin-centered">
        <div class="block-for-title">
          <div class="title-block margin-centered">
            <span class="title-text">{{page.title}}</span>
          </div>
        </div>
      </section>
      <section class="painted-block painting-image">

      </section>
      <section class="career-section">
        <div class="empty-block"></div>
        <div class="career-buttons-block">
            {% for career_title in page.career_titles.all %}
            <div class="hero-button">{{career_title.name}}</div>
            {% endfor %}
        </div>
      </section>
        <section class="career-button-section  margin-centered">
            <div class="block-text">{{page.action_text}} →</div>
        <div
          class="hero-button-shadow block-shadow hero-button margin-centered hero-button-home-git"
        >
          <span class="hero-button-title">Send an aplication</span>
        </div>
        </section>
    </main>
{% endblock content %}