/* news */
.picture-left,
.picture-right {
  width: 20%;
  overflow: hidden;
}
.news-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.news-block {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--Gray-BG, #383637);
  box-shadow: 25px 71px 20px 0px rgba(0, 0, 0, 0.01),
    25px 45px 18px 0px rgba(0, 0, 0, 0.07),
    25px 25px 15px 0px rgba(0, 0, 0, 0.24),
    10px 11px 11px 0px rgba(0, 0, 0, 0.41), 3px 3px 6px 0px rgba(0, 0, 0, 0.47);
}
.picture-left,
.picture-right {
  position: relative;
}
.picture-left {
  background-image: url("/img/news-left.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
.picture-right {
  background-image: url("/img/news-right.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
/* news article block */
.news-feed {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.news-feed p .title {
  color: var(--White, #fff);
  leading-trim: both;
  text-edge: cap;
  font-family: "Kyiv*Type Serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
  flex: 1 0 100%;
}
.news-feed p .date {
  color: var(--White, #fff);
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}
.paginator {
  width: min-content;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.paginator .nav-button {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 0px 22px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border: 1px solid #ccc;
  background: var(--Gray-Button-1, #2b2b2b);
  box-shadow: 0px 71px 20px 0px rgba(0, 0, 0, 0.01),
    0px 45px 18px 0px rgba(0, 0, 0, 0.07), 0px 25px 15px 0px rgba(0, 0, 0, 0.24),
    0px 11px 11px 0px rgba(0, 0, 0, 0.41), 0px 3px 6px 0px rgba(0, 0, 0, 0.47);
}

.text-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
