/* makes sizing simpler */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  color: #fff;
}
/* min body height */
body {
  min-height: 100svh;
}
/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  text-wrap: pretty;
  margin: 0;
  padding: 0;
}
.draft {
  background-color: gray;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
