.about-page {
  background: var(--Gray-BG, #383637);
  box-shadow: 16px 249px 70px 0px rgba(0, 0, 0, 0.02),
    10px 159px 64px 0px rgba(0, 0, 0, 0.14),
    6px 90px 54px 0px rgba(0, 0, 0, 0.46), 3px 40px 40px 0px rgba(0, 0, 0, 0.79),
    1px 10px 22px 0px rgba(0, 0, 0, 0.91);
}
.main-about {
  overflow: hidden;
}
.about-text-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--White, #FFF);
leading-trim: both;
text-edge: cap;
font-family: "Kyiv*Type Serif";
font-size: 28px;
font-style: normal;
font-weight: 200;
line-height: 65px; /* 232.143% */
}
.about-news-carousel {
  display: flex;
  width: 1550px;
  height: 433px;
  align-items: flex-start;
  gap: 50px;
  flex-shrink: 0;
}
.news-card-about {
  width: 500px;
  height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
.news-image-box {
  width: 500px;
  height: 235px;
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: 45.6px 596.819px 167.646px 0px rgba(0, 0, 0, 0.01),
    29.506px 382.232px 153.564px 0px rgba(0, 0, 0, 0.05),
    16.765px 215.257px 129.423px 0px rgba(0, 0, 0, 0.17),
    7.376px 95.223px 95.893px 0px rgba(0, 0, 0, 0.28),
    2.012px 24.141px 52.976px 0px rgba(0, 0, 0, 0.33);
}
.news-image-box img {
  width: 100%;
}
.news-about-title {
  width: 500px;
  flex-shrink: 0;
  color: var(--05-bleach, var(--White, #fff));
  font-family: CrazyV1;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 194.444% */
  letter-spacing: 0.9px;
  text-transform: uppercase;
  background-color:none;
}
.news-about-date {
  width: 251.491px;
  color: var(--05-bleach, var(--White, #fff));
  leading-trim: both;
  text-edge: cap;
  font-feature-settings: "salt" on;
  font-family: "Kyiv*Type Serif";
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.046px;
}
.all-news-button {
  width: 350px;
}

/* our team block */
.our-team {
  height: 1300px;
  background-image: url("/static/img/our-team-bg.png");
  gap: 75px;
  padding-bottom: 50px;
  padding-inline: 50px;
}
.team-slider-block {
  display: flex;
  flex-direction: row;
  width: 100%;
}




