/* chart slider on homepage */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.is-scroll-disabled {
  overflow: hidden;
}
.button {
    width:54px; height:54px;
  display: block;
  padding: 10px 24px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}
.button:hover {
}
@media screen and (min-width: 768px) {
  .button {
    padding: 16px 32px;
  }
}
.chart-arrow {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--main-color2);
    flex-shrink: 0;
}
.chart-arrow-next {}
.chart-arrow-prev {}

.chart-button {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
}
.chart-button:hover {
  fill: var(--color-primary-light);
}
.swiper-container {
    width: 100%;
}
.swiper-slide {
    height: 192px;
}
.format-card {
    display: flex;
    padding: 45px 25px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 20px;
    background: #F2E9E9;
    height: 180px;
}
.format-card__title {
    background-color: var(--tvchart-color);
    color: var(--main-color2);
    display: flex;
    padding: 15px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
}
.format-card__title timer {
    display: flex;
    padding: 15px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    background: #D89C9C;
    }
.format-card__text {
    color: #1B1B1B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 142px;

}
/* crop text owerflow */
/* https://css-tricks.com/almanac/properties/l/line-clamp/ */
/* https://www.w3schools.com/accessibility/accessibility_text_size.php */
.format-card__text p {
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 48px 0;
  }
}
.section__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 64px;
    line-height: 1.3;
  }
}
.section__title--centered {
  text-align: center;
}
.container {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
}
.formats-section {
    max-width: 1440px;
    margin: 0 auto;
}
.formats-section__slider {
    display: flex;
    align-items: center;
    gap: 20px;
}
.formats-section__container {
    width: 100%;
    max-width: 1040px;
    overflow: hidden;
}
.formats-section__list {
}
.formats-section__button {
  display: none;
}
@media screen and (min-width: 768px) {
  .formats-section__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.slider-title {
  max-width: 1040px;
    /*min-width: 580px;*/
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    margin: 0 auto;
}

.chart-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chart-link span {
    color: #D89C9C;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* Desktop gap */
@media (min-width: 966px) {
    .swiper-container {
        --swiper-gap: 20px; /* Gap for desktop */
    }

    .swiper-slide {
        margin-right: var(--swiper-gap); /* Apply the gap between slides */
    }
}
/* Mobile gap */
@media (max-width: 965px) {
    .swiper-container {
        --swiper-gap: 15px; /* Gap for mobile */
    }

    .swiper-slide {
        margin-right: var(--swiper-gap); /* Apply the gap between slides */
    }
}
@media (max-width: 768px) {

}

@media (max-width: 475px) {
    .chart-link {
        display: none;
    }
    .format-card {
        padding: 15px 10px;
        width: 150px;
    }

    .swiper-container {
        overflow: hidden;
    }
    .swiper-wriper {
    min-width: 343px;
  }
}
@media (max-width: 400px){
    .formats-section {
        overflow: hidden;
    }
    .container {
        min-width: 370px;
    }
}

