.intro-block {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
  overflow: hidden;
}
.intro-button-block {
  width: var(--max-width-content);
  margin-inline: auto;
  margin-bottom: 140px;
}
.hero-button-home {
  width: 350px;
  height: 70px;
}
.before-about {
  height: 300px;
  width: 100%;
}
.title-about {
}

.about-block {
  width: 100%;
  min-height: 384px;
  padding: 60px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 76px;
}
.block3 {
  width: 100%;
  height: 762px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

}
.button-section {
  width: 100%;
  padding: 50px 0;
  display: grid;
  place-items: center;
}
.trusted-block {
  width: 100%;
  min-height: 651px;
  display: grid;
  place-items: center;
  padding: 85px 10px;
}
.partners-block {
  max-width: var(--max-width-content);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: space-evenly;
}
.painted-block {
  padding-top: 0;
}
